<div class="max-w-5xl mx-auto bg-gray-100 p-10 rounded-sm">
    <div>
        <h3 class="text-slate-900 text-2xl font-semibold mb-4">Why Quality Design Matters</h3>
        <p class="text-slate-600 leading-relaxed text-base">
            Great design isn’t just about how things look—it’s about how they work. Whether you're building a landing page, product interface, or marketing
            asset, strong design helps improve user experience, boosts trust, and drives conversions. At ReadymadeUI, we focus on creating reusable, visually
            appealing layouts that make your development faster and easier.
        </p>
        <div class="mt-4">
            <a href="javascript:void(0);" class="text-blue-500 font-semibold hover:underline text-base">Read more...</a>
        </div>
    </div>
</div>
